.escola-imagem{
    width: 30%;
}
.escola{
    background-image: linear-gradient(#4c0d5c,#8b60c3);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{
    width: 35%;
}.escola-titulo{
    padding: 24px 0;
}